@{
    ViewData["Title"] = "Kontakt";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <p>
        Välkommen till StickaTillsammans! Vi är glada att höra från dig och svarar gärna på dina frågor eller feedback.
        Du
        kan nå oss via e-post eller telefon.
    </p>
    <p>
        <strong>E-post:</strong> <br />
        <i class="fa-regular fa-envelope"></i><a href="mailto:sticka_tillsammans@mail.com">
            sticka_tillsammans@mail.com</a>
    </p>
    </p>
    <p>
        <strong>Telefon</strong><br />
        <i class="fa-solid fa-phone"></i><a href="tel:1234567890"> 1234-56 78 90</a>
    </p>
    <p>
        <strong>Besöksadress:</strong><br />
        <i class="fa-solid fa-location-dot"></i> Stickvägen 10 <br />
        123 45 Garntopia
    </p>
    <p>
        Vi strävar efter att svara på alla förfrågningar så snart som möjligt. Tack för att du är en del av
        StickaTillsammans gemenskapen!
    </p>
    <div class="d-flex">
        <img class="img-fluid" src="~/images/HomePageLink5.webp" alt="...">
    </div>
</div>