@{
    ViewData["Title"] = "Erbjudanden";
}
<div id="Buisness" class="container">
    <div class="d-flex">
        <img class="img-fluid" src="~/images/HomePageLink3.webp" alt="...">
    </div>
    <h2>Företagsevent</h2>
    <p>Ge ditt företag en kreativ touch genom att arrangera ett sticknings-event! Medan deltagarna lär sig grunderna i
        stickning skapas en avslappnad och samarbetsvillig atmosfär, perfekt för teambuilding och socialt samspel. Genom
        att delta i detta event kan teammedlemmar inte bara utveckla nya färdigheter utan också bygga starkare
        relationer och främja en positiv företagskultur.</p>
    <p>
        Vi kan erbjuda workshops inom stickning och virkning för grupper mellan 6-20 personer. Pris enligt
        överenskommet.
    </p>
    <p>
        Tveka inte att höra av er om ni har frågor eller idéer på hur ni vill ha ett företagsevent hos oss! <br />
        Kontakta oss på <a href="mailto:sticka_tillsammans@mail.com">sticka_tillsammans@mail.com</a>.
    </p>
</div>
<div id="Membership" class="full-width-container">
    <div class="d-flex">
        <img class="img-fluid" src="~/images/HomePageLink5.webp" alt="...">
    </div>
    <h2>Medlemskap</h2>
    <p>Vårt medlemskap ger dig exklusiv tillgång till en rad spännande föreläsningar och workshops till rabatterade
        priser. Oavsett om du är intresserad av konst, hantverk, personlig utveckling eller yrkesmässig tillväxt,
        erbjuder vårt medlemskap en mångsidig uppsättning evenemang som passar dina intressen och behov. Genom att bli
        medlem får du inte bara tillgång till inspirerande och kunskapsrika evenemang utan också möjlighet att vara en
        del av en engagerad gemenskap av likasinnade människor.</p>
    <p>
        Köp på plats hos oss i butiken eller maila till <a
            href="mailto:sticka_tillsammans@mail.com">sticka_tillsammans@mail.com</a> för mer information.
    </p>
    <p>
        Pris: 100kr/termin.
    </p>
</div>
<div id="GiftCard" class="container">
    <div class="d-flex">
        <img class="img-fluid" src="~/images/HomePageLink4.webp" alt="...">
    </div>
    <h2>Presentkort</h2>
    <p>Ge bort en unik och minnesvärd gåva med våra presentkort för workshops och föreläsningar! Med detta presentkort
        får mottagaren tillgång till en mångfald av inspirerande och lärorika evenemang, från stickning och målning till
        personlig utveckling och karriärseminarier. Oavsett om det är för en vän, familjemedlem eller kollega är
        presentkortet en perfekt presentidé som ger möjlighet till kreativitet, lärande och nya upplevelser.</p>
        <p>Minsta summa på presentkortet är 300:-</p>
            <p>
        Köp på plats hos oss i butiken eller maila till <a
            href="mailto:sticka_tillsammans@mail.com">sticka_tillsammans@mail.com</a> för mer information.
    </p>
</div>