@{
    ViewData["Title"] = "Erbjudanden";
}
<div id="Buisness" class="container">
    <div class="d-flex">
        <img class="img-fluid" src="~/images/HomePageLink3.webp" alt="...">
    </div>
    <h2 >Företagsevent</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias porro voluptas sequi dolore velit
        saepe, vero quis quae enim, ea atque laboriosam praesentium, pariatur accusantium! Dolorem non tempora
        ratione officia.</p>
</div>
<div id="Membership" class="full-width-container">
    <div  class="d-flex">
        <img class="img-fluid" src="~/images/HomePageLink5.webp" alt="...">
    </div>
    <h2 >Medlemskap</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias porro voluptas sequi dolore velit
        saepe, vero quis quae enim, ea atque laboriosam praesentium, pariatur accusantium! Dolorem non tempora
        ratione officia.</p>
</div>
<div id="GiftCard" class="container">
    <div  class="d-flex">
        <img class="img-fluid" src="~/images/HomePageLink4.webp" alt="...">
    </div>
    <h2>Presentkort</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias porro voluptas sequi dolore velit
        saepe, vero quis quae enim, ea atque laboriosam praesentium, pariatur accusantium! Dolorem non tempora
        ratione officia.</p>
</div>